body{
background-color: burlywood;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    position: fixed;
    opacity: .9;
    width: 100vw;
    height: 100vh;
}

.signup{
    background-color: rgb(190, 190, 248);
    border-color: black;
    border-style: solid;
    margin-top: 6rem;
    width: 30%;
    justify-content: center;
    text-align: center;
    position:absolute;
    display: flex;
    flex-wrap: wrap;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.button{
    margin-top: 4%;
}