.background-container{
    background-image: 
    url("../Images/HomePageBackground.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: relative;
    background-attachment: fixed;
    position:fixed;
    opacity: .9;
    width: 100vw;
    height: 100vh;
}
.title-holder{
    background-color: rgb(190, 190, 248);
    border-color: black;
    border-style: solid;
    margin-top: 6rem;
    width: 20%;
    justify-content: center;
    text-align: center;
    position:absolute;
    display: flex;
    flex-wrap: wrap;
    top: 5%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.intro-paragraph{
    background-color: rgb(190, 190, 248);
    border-color: black;
    border-style: solid;
    margin-top: 6rem;
    width: 20%;
    justify-content: center;
    text-align: left;
    position:absolute;
    display: flex;
    flex-wrap: wrap;
    top: 28%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.route-buttons{
    background-color: rgb(190, 190, 248);
    border-color: black;
    border-style: solid;
    margin-top: 6rem;
    width: 20%;
    justify-content:center;
    text-align: left;
    position:absolute;
    display: flex;
    flex-wrap: wrap;
    top: 45%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.middle-button{
    margin-left: 16px;
    margin-right: 16px;
}
.army{
    width: 400px;
    height: 400px;
}
.navy{
    width: 375px;
    height: 375px;
    justify-content:center;
    text-align: left;
    position:absolute;
    display: flex;
    flex-wrap: wrap;
    top: 0%;
    left: 80%;

}
.marines{
    width: 350px;
    height: 350px;
    justify-content:center;
    text-align: left;
    position:absolute;
    display: flex;
    flex-wrap: wrap;
    top: 45%;
    left: 80%;

}

.airforce{
    width: 450px;
    height: 450px;
}
.spaceforce{
    width: 350px;
    height: 350px;
    justify-content: center;
    text-align: left;
    position:absolute;
    display: flex;
    flex-wrap: wrap;
    top: 76%;
    left: 40%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.coastguard{
    width: 430px;
    height: 430px;
    justify-content: center;
    text-align: left;
    position:absolute;
    display: flex;
    flex-wrap: wrap;
    top: 76%;
    left: 60%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
